body{
    margin: 0;
}
/* media query --> FOR RESPONSIVE PAGE */
/* Apply styles for aspect ratio less than or equal to 7:10  */
/* if width = 7 , height = 10 means 700px*1000px dimension se thodi si bhi dim. kam hui then
hum jo ab PROPERTY mention krege vo hoga ok */
@media (max-aspect-ratio: 7/10) {
    .joinContainer > h1 {
      color: rgb(28, 244, 13);
      font-size: 90vmax;
    }
  }



